<div class="container">
    <img class="about" src="/assets/about.jpg" alt="" />
    <h4 class="text-white">About Us</h4>
    <p class="text-white txt">Barclays is a major British universal bank with roots dating back to 1690, offering retail, corporate, wealth management, and investment banking services globally, known for its UK-centered focus, vast history, and operations in over 40 countries, with a prominent presence in the US consumer market and a diversified structure encompassing
        UK Banking and Barclays International. </p>
    <p class="text-white"><strong>Structure & Services:</strong> <br/>Operates through five divisions: UK Consumer Banking, UK Corporate Banking, Wealth & Private Banking, Barclays Corporate & Investment Bank (CIB), and a specialist US Consumer Bank, providing everything from current accounts and mortgages to complex investment banking.</p>
    <p class="text-white">
        <strong>Structure & Services:</strong><br/> Operates through five divisions: UK Consumer Banking, UK Corporate Banking, Wealth & Private Banking, Barclays Corporate & Investment Bank (CIB), and a specialist US Consumer Bank, providing everything from current accounts and mortgages to complex investment banking.
        Global Presence: A leader in global finance, serving clients in over 40 countries with a significant presence in the UK and US.
        Investment Banking: The CIB division offers advisory, financing, and risk management for large corporations and institutions, acting as a primary dealer in government bonds.        
    </p>
</div>