<div class="container">
    <img class="contact" src="/assets/contact.jpg" alt="" />
    <h4 class="text-white">Contact Us</h4>
    <p class="text-white">
        If you can't find the answer you're looking for, you can call us on: International toll free number +800 800 88885^ (or on our standard international number +44 (0)1624 684444*)        
    </p>
    <p class="text-white">
        We’re receiving a high number of calls at the moment, which means it might take longer than we'd like for you to get through.        
    </p>
    <p class="text-white">
        To help us support those who are in most urgent need, please check if our help centre has the information you need before calling us.        
    </p>
    <p class="text-white">
        We know waiting to get through can be frustrating, and we're trying to help people as quickly as we can. Thanks for your patience and understanding.        
    </p>
</div>