<div class="modal fade" id="staticMessenger" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticMessengerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h1 class="modal-title fs-5 text-white" id="staticMessengerLabel">Messenger</h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

    
        </div>
        <div class="modal-footer">
            <div class="w-100 text-left text-danger fsize-12">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>